@use "sass:map";

@import "/src/assets/color.scss";
@import "/src/assets/breakpoints.scss";

button {
  border: none;
  background: none;
  cursor: pointer;
}

.productListItem-normal {
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  &:not(nth-last-child) {
    margin-right: 20px;
  }

  border: 2px dashed $darkgray;

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    max-height: 100px;
    height: 100%;
    flex: 0 0 100px;
  }

  &__price {
    font-size: 24px;
    font-weight: 500;
  }

  img {
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
  }

  button {
    svg {
      width: 36px;
      height: 36px;
    }
    svg:hover {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: map.get($grid-breakpoints, "md")) {
  .productListItem-normal {
    margin-left: 20px;
  }
}
.productListItem-minimized {
  display: flex;
  flex-direction: column;
  align-self: center;

  img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    padding-right: 8px;
    height: 100%;
    flex: 0 0 48px;
  }

  &__price {
    font-size: 20px;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 100%;
  }

  button {
    svg {
      width: 30px;
      height: 30px;
    }
    svg:hover {
      width: 35px;
      height: 35px;
    }
  }
}
