@use "sass:map";

@import "/src/assets/color.scss";
@import "/src/assets/breakpoints.scss";

.favouriteItems {
  display: flex;
  flex-direction: column;
  border: 2px dashed $darkgray;
  border-radius: 30px;
  min-width: 300px;
  max-width: 300px;
  max-height: calc(100vh - 150px);
  padding: 20px 20px;
  margin: 50px;
  box-sizing: border-box;

  &__title {
    font-family: "Anek Telugu", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }

  &__list {
    overflow-y: auto;
  }
}

@media (max-width: map.get($grid-breakpoints, "md")) {
  .favouriteItems {
    position: absolute;
    z-index: 100;
    left: -200%;
    top: 50px;
    width: 100%;
    min-width: auto;
    border-radius: 0;
    background-color: white;
    margin: 0;
    min-height: calc(100vh - 51px);
    max-width: 100%;
    transition: left 1s;
    padding-right: 0;
    padding-bottom: 0;
  }
  .favouriteItems.visible {
    left: 0px;
  }
  .favouriteItems.hidden {
    left: -200%;
  }
}

@media (max-width: map.get($grid-breakpoints, "xs")) {
  .favouriteItems {
    min-width: map.get($grid-breakpoints, "xs");
    min-height: calc(100vh - 51px - 17px);
  }
}
