@use "sass:map";

@import "/src/assets/color.scss";
@import "/src/assets/breakpoints.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $yellow;
  width: 100%;
  border-bottom: 1px solid $darkgray;
  min-height: 50px;

  &__title {
    display: block;
    padding-right: 25px;
    font-family: "Anek Telugu", sans-serif;
    color: $darkgray;
    font-weight: 600;
    font-size: 32px;
  }
}
.fa-house {
  font-size: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  height: auto;
  cursor: pointer;
}
@media (max-width: map.get($grid-breakpoints, "sm")) {
  .header__title {
    display: none;
  }
  .header {
    justify-content: center;
  }
}
.favouriteItemsButton {
  display: none;
}
@media (max-width: map.get($grid-breakpoints, "md")) {
  .favouriteItemsButton {
    display: block;
    font-size: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    cursor: pointer;
  }
}
