.productListApp {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content {
    display: flex;
    height: 100%;
  }
}
@media (max-width: 970px) {
  .productListApp__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
